---
import { Font } from "astro:assets";

import Logo from "../components/svg/logo.svg";

import "../styles/global.css";

const { title, description, pubDate, directory = false } = Astro.props;

// Remove trailing slash from end pages (ie. /blog/, but /blog/anubis)
function formatCanonicalURL(url: string | URL) {
  const path = url.toString();

  const hasQueryParams = path.includes("?") || path.includes("#");
  if (directory && !hasQueryParams) {
    return path.endsWith("/") ? path : `${path}/`;
  }

  return path.endsWith("/") ? path.slice(0, -1) : path;
}
const canonicalUrl = formatCanonicalURL(Astro.url);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />

    <title>{title ? `${title} • fxgn` : "fxgn"}</title>
    <link rel="icon" type="image/svg+xml" href="/images/logo-color.svg" />
    <link rel="canonical" href={canonicalUrl} />
    <meta name="description" content={description} />

    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:type" content={pubDate ? "article" : "website"} />
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content="fxgn" />
    <meta property="og:description" content={description} />
    {
      pubDate && (
        <meta
          property="article:published_time"
          content={(pubDate as Date).toISOString()}
        />
        <meta property="article:author" content="fxgn" />
      )
    }

    <Font cssVariable="--font-inter" preload />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="fxgn"
      href={new URL("rss.xml", Astro.site)}
    />
  </head>
  <body>
    <header class="fixed top-0 w-full bg-white pt-4">
      <a
        href="/"
        class="mx-auto box-content block size-12 rounded-lg p-1 hover:bg-black/10 sm:size-20"
      >
        <!-- Logo has fallback inline styles to avoid flashing the svg fullscreen before css is loaded -->
        <Logo
          height={80}
          style="display: block; margin: 0 auto"
          class="h-12 sm:h-20"
        />
      </a>
    </header>

    <main
      class="min-h-[calc(100dvh-2rem)] content-center px-8 pt-18 pb-10 sm:pt-26 sm:pb-18 lg:min-h-dvh lg:pb-26"
    >
      <div class="mx-auto max-w-fit">
        <slot />
      </div>
    </main>

    <footer class="mr-5 mb-2 text-right lg:fixed lg:right-0 lg:bottom-0">
      <p class="text-base">
        <a href="https://otomir23.me/webring/fxgn/prev">← prev</a>
        <a href="https://otomir23.me/webring" class="font-bold">|webring|</a>
        <a href="https://otomir23.me/webring/fxgn/next">next →</a>
      </p>
    </footer>
  </body>
</html>

<style>
  body {
    counter-reset: sidenote;
  }
</style>
